mixin postCard(post = {})
  .tile.is-parent.is-3
    .box
      figure.image
        img(src=post.img_url)
      p #{post.description}
      .post-info
        nav.level
          .level-left
            .level-item
              img(src=post.author.profile_img)
          .level-right
            .level-item
              a.button(href=`/like/${post._id}`) #{post.likes} 
                .fa.fa-heart
              
              
